speedtest>=0.0.1
speedtest-cli
telegraph
tgcrypto
pyrotgfork
ujson
wget
werkzeug>=2.0
wheel
yt-dlp
youtube-dl
youtube-search
youtube-search-python>=1.4.6
ytthumb
python-telegram-bot==20.6
aiohttp
requests
git+https://github.com/agronholm/anyio.git
git+https://github.com/Joelkb/cinemagoer.git
